* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  opacity: 0.4;
  background: #FFAA06;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #FFAA06 !important;
}
