.stars{
    display: flex;
    //min-width: 130px;
    text-align: left;
    //vertical-align: top;
    .star{
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 8px
    }
}