*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

//字体
// @font-face {
//     font-family: 'SourceHanSansCN-Medium';
//     src: url('./font/SourceHanSansK-Medium.ttf') format('truetype');
// }
@font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('./font//SourceHanSansCN-Normal.ttf') format('truetype');
}
//swiper样式
.swiper-pagination-bullet{
    opacity: 0.3;
    background: #FFFFFF;
}
.swiper-pagination-bullet-active{
    opacity: 1 !important;
    background-color: #FFFFFF !important; 
}